In [1]:
with open("note.txt", "r") as a: # la funzione built in 'OPEN' ouvre des fiches e le mette nella variabile a
    print(a.readlines()) # leggo tutte le linee e le print

['13.5\n', '17\n', '9.5\n', '12\n', '14\n', '6\n', '5.5\n', '8.5\n', '10.5\n', '29\n', '14\n', '9\n', '15.5\n', '11.5\n', '16\n', '18\n', '13\n', '12.5\n', '15.5\n', '17']

In [2]:
l = []#liste vide pour mettre dedans les element extrait de note.txt

with open("note.txt", "r") as a: #jouvre le ficher note.txt in mode r = read
    l = a.read().splitlines() #petite astuce pour pas faire appareitre les \n 
    
for i in range(0, len(l)): #boucle pour prendre touts les elements dans l 
    l[i] = float(l[i]) # touts les elements de l (l[i]) sont transforme en float 
    
print(l) 

x = float(sum(l)/len(l))
moyen = f"la moyen est egale a : {x}"

    
print(moyen)

[13.5, 17.0, 9.5, 12.0, 14.0, 6.0, 5.5, 8.5, 10.5, 29.0, 14.0, 9.0, 15.5, 11.5, 16.0, 18.0, 13.0, 12.5, 15.5, 17.0]
la moyen est egale a : 13.375

In [4]:
l = []
with open("note.txt", "r") as a: #jouvre le ficher note.txt in mode r = read
    l = a.read().splitlines() #petite astuce pour pas faire appareitre les \n 
for i in range(0, len(l)): #boucle pour prendre touts les elements dans l 
    l[i] = float(l[i]) # touts les elements de l (l[i]) sont transforme en float 
    
with open("note2.txt", "w") as b: #je ouvre et cree le ficher note2.txt en mode write(w)
    for element in l:  #boucle pour prendre chaque element dans la liste l
        if element >= 10:  # si l'element prise est...
            note = "admis \n" #variable note = ..
        else:                 #sinon
            note = "recale \n"#variable note = ...
        b.write(f"{element} {note}") #ecri dans le ficher note2.txt touts les elements de la liste l avec le note

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
data = pd.read_excel("titanic.xls")

In [8]:
data.shape

(1309, 14)

In [10]:
data = data.drop(["name","ticket","fare","cabin","embarked","boat","body","home.dest","sibsp","parch"], axis=1)

In [11]:
data.head()

   pclass  survived     sex      age
0       1         1  female  29.0000
1       1         1    male   0.9167
2       1         0  female   2.0000
3       1         0    male  30.0000
4       1         0  female  25.0000

In [12]:
data.describe()

            pclass     survived          age
count  1309.000000  1309.000000  1046.000000
mean      2.294882     0.381971    29.881135
std       0.837836     0.486055    14.413500
min       1.000000     0.000000     0.166700
25%       2.000000     0.000000    21.000000
50%       3.000000     0.000000    28.000000
75%       3.000000     1.000000    39.000000
max       3.000000     1.000000    80.000000

In [29]:
k = []

with open("data.csv", "r") as b:
    k = b.read()  
print(k)

Langage de programmation;Créé par ;apparu;Extension
Python;Guido van Rossum;1991;.py
JavaScript;Brendan Eich; 1995;.js
PHP;Ramsus Ledorf;1994;.php

In [5]:
import csv
reader = csv.DictReader(open(r"data.csv"))
for raw in reader:
    print(raw)

{'Langage de programmation;Créé par ;apparu;Extension': 'Python;Guido van Rossum;1991;.py'}
{'Langage de programmation;Créé par ;apparu;Extension': 'JavaScript;Brendan Eich; 1995;.js'}
{'Langage de programmation;Créé par ;apparu;Extension': 'PHP;Ramsus Ledorf;1994;.php'}